/* Navbar */

nav {
	display: flex;
	background: linear-gradient(
		59deg,
		rgba(102, 45, 140, 1) 35%,
		rgba(237, 30, 121, 1) 100%
	);
	align-items: center;
	padding: 15px 40px;
	margin-bottom: 17px;
}

.logo {
	flex-basis: 33%;
}
.logo span {
	font-size: 1.7rem;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo a {
	text-decoration: none;
	color: white;
}

.logo a {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	margin-left: 30px;
}

.search a {
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
	margin-left: 30px;
	display: inline-block;
}

.search {
	flex-basis: 67%;
}

.search input {
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 20px;
	font-family: "ubuntu", sans-serif;
	height: 35px;
	width: 50%;
	min-width: 300px;
	border: none;
	border-radius: 7px;
	padding: 8px;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.search input:focus {
	background-color: white;
	transition: all 0.3s ease-in-out;
}

/* 
	Media Query
*/

@media only screen and (max-width: 700px) {
	nav {
		flex-direction: column;
		padding: 15px 0;
	}
	.logo {
		flex-basis: 100%;
		margin-bottom: 17px;
	}
	.search {
		flex-basis: 100%;
	}
}
