/* 
    Cards Style
*/

.cards-container {
	width: 100%;
	padding: 70px 50px;
}

.card {
	width: 350px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	font-family: "ubuntu", sans-serif;
	display: inline-block;
	margin: 40px 20px;
	position: relative;
}

.card:hover {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card h2 {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 15px 13px;
}

.card p {
	padding: 0 13px 15px 13px;
}

.card:hover .card-btn button,
.card:hover .pinned-btn {
	visibility: visible;
}

.card-btn button {
	visibility: hidden;
	padding-top: 10px;
	width: 50%;
	transition: visibility 0.5s ease-in-out;
}

.edit-btn:hover .MuiSvgIcon-root {
	color: royalblue;
}

.del-btn:hover .MuiSvgIcon-root {
	color: red;
}

.pinned-btn {
	visibility: hidden;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
